@import "tailwindcss";

@font-face {
  font-family: ShaXizor;
  src: url("SHAXIZOR-fixed.ttf");
}

@font-face {
    font-family: MKXTitle;
    src: url("MKX Title.ttf");
}

@font-face {
    font-family: AlgrySansMed;
    src: url("alegreya-sans/AlegreyaSans-Medium.otf");
}