@import "tailwindcss";

@font-face {
  font-family: ShaXizor;
  src: url("SHAXIZOR-fixed.ttf");
}

@font-face {
    font-family: MKXTitle;
    src: url("MKX Title.ttf");
}

@font-face {
    font-family: AlgrySansMed;
    src: url("alegreya-sans/AlegreyaSans-Medium.otf");
}

@font-face {
    font-family: AlgrySansBold;
    src: url("/alegreya-sans/AlegreyaSans-Bold.otf")
}

@font-face {
    font-family: AlgrySansItalic;
    src: url("/alegreya-sans/AlegreyaSans-MediumItalic.otf")
}

@font-face {
    font-family: AlgrySansBoldItalic;
    src: url("/alegreya-sans/AlegreyaSans-BoldItalic.otf");
}

body {
    background-color: rgb(19, 19, 18);
    color:rgb(235, 255, 255)
}

input, textarea {
    background-color:rgb(232, 233, 229);
    color: black;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 2px;
    margin: 5px;
}

input {
    background-color:rgb(232, 233, 229);
    color: black;
}

select {
    background-color:rgb(232, 233, 229);
    color: black;
}
