@import "tailwindcss";

@font-face {
  font-family: ShaXizor;
  src: url("/SHAXIZOR-fixed.ttf");
}

@font-face {
    font-family: MKXTitle;
    src: url("/MKX Title.ttf");
}

@font-face {
    font-family: AlgrySansMed;
    src: url("/alegreya-sans/AlegreyaSans-Medium.otf");
}

@font-face {
    font-family: AlgrySansBold;
    src: url("/alegreya-sans/AlegreyaSans-Bold.otf")
}

@font-face {
    font-family: AlgrySansItalic;
    src: url("/alegreya-sans/AlegreyaSans-MediumItalic.otf")
}

@font-face {
    font-family: AlgrySansBoldItalic;
    src: url("/alegreya-sans/AlegreyaSans-BoldItalic.otf");
}

select {
    background-color:rgb(232, 233, 229);
    color: black;
}
